<section class="ss-app" id="sub-scene-select">
    <form>
        {{#if isGM}}
        <div class="ss-swap-buttons">
            <h3>{{ssButtonText}}</h3>
        </div>
        {{/if}}
        <ol>
            {{#if isTokens}}
                {{#each viewableTokens}}
                    <li class="ss-token-select-list" data-document-id="{{this.id}}">
                        {{#if this.document.texture.src}}
                            <img    class="ss-thumbnail" 
                                    title=" {{#if this.actorData.name}}{{this.actorData.name}}
                                            {{else}} {{this.name}}
                                            {{/if}}"
                                    src="{{this.document.texture.src}}"/>
                        {{/if}}
                        <h4>{{#if this.actorData.name}}{{this.actorData.name}}
                            {{else}} {{this.name}}
                            {{/if}}
                        </h4>
                    </li>
                {{/each}}
            {{else}}
                {{#each viewableScenes}}
                    <li class="ss-scene-list" data-document-id="{{this.tileId}}"
                    {{#if this.thumb}}
                        style="background-image: url({{this.thumb}}); background-position: left"
                    {{/if}}
                    >
                <h2>{{this.name}}</h2>
            </li>
                {{/each}}
            {{/if}}
        </ol>
    </form>
</section>