<section class="tab sidebar-tab directory flexcol" id="token-create">
    <ol class="directory-list">
        {{#each sceneArray}}
            <li class="directory-item document scene flexrow" data-document-id="{{this.tileId}}" draggable="true"
                {{#if this.compendiumScene.thumbnail}}
                    style="background-image: url({{this.compendiumScene.thumbnail}}); background-position: left"
                {{/if}}
            >
                <h2 class="document-name"><center><a>{{this.compendiumScene.name}}</a></center></h2>
            </li>
        {{/each}}
        {{#each actorArray}}
            <li class="directory-item document actor flexrow" data-document-id="{{this.tileId}}" draggable="true">
                {{#if this.actor.thumbnail}}
                    <img class="thumbnail" title="{{this.actor.name}}" src="{{this.actor.thumbnail}}"/>
                {{/if}}
                <h4 class="document-name"><a>{{this.actor.name}}</a></h4>
            </li>
        {{/each}}
	</ol>

</section>
